/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Like4Like
VERSION:	1.0.0
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Cuprum:400,700");
body {
  font-family: "Arimo", sans-serif;
}

p, span {
  font-family: "Arimo", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cuprum", sans-serif;
}

h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 50px;
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 15px;
  line-height: 25px;
}

.btn-white {
  background: #fff;
  color: #eb5b7c;
  padding: 20px 50px;
  border-radius: 50px;
  font-family: "Cuprum", sans-serif;
  transition: .3s ease;
}

@media (max-width: 575px) {
  .btn-white {
    padding: 15px 30px;
  }
}

.btn-white:hover {
  background: #eb5b7c;
  color: #fff;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  box-shadow: 0px 70px 70px 0px rgba(25, 28, 33, 0.1);
}

.btn-secondary {
  background-image: linear-gradient(135deg, #3e1bbd 0%, #a061ff 100%);
  box-shadow: 0px 70px 70px 0px rgba(25, 28, 33, 0.1);
  padding: 20px 70px;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Cuprum", sans-serif;
}

@media (max-width: 575px) {
  .btn-secondary {
    padding: 15px 40px;
  }
}

.btn-nav {
  color: #fff;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.26);
  padding: 10px 30px;
  border-radius: 30px;
}

.btn-nav span {
  font-family: "Cuprum", sans-serif;
}

.btn-nav span, .btn-nav i {
  display: inline-block;
}

.btn-nav i {
  margin-left: 20px;
  font-size: 35px;
}

@media (max-width: 991px) {
  .btn-nav {
    justify-content: center;
  }
}

.btn-nav:hover {
  background: #fff;
  color: #eb5b7c;
}

body {
  background: #f5f7f9;
  position: relative;
}

._100vh {
  height: 100vh;
}

.section {
  padding: 100px 0;
}

.section__title {
  position: relative;
  margin-bottom: 150px;
  z-index: 1;
}

.section__title::before {
  content: attr(data-content);
  font-family: "Cuprum", sans-serif;
  font-size: 100px;
  line-height: 100px;
  color: #080808;
  opacity: 0.07;
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

@media (max-width: 575px) {
  .section__title::before {
    font-size: 60px;
    line-height: 60px;
  }
}

.section__title::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 4px;
  background: linear-gradient(0deg, #3e1bbd 0%, #a061ff 100%);
  border-radius: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
}

.section__title.white {
  color: #fff;
}

.section__title.white::before {
  color: #fff;
}

.section__title.white::after {
  background: #f5f7f9;
  opacity: .33;
}

.section__title.left {
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .section__title.left {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .section__title.left {
    font-size: 50px;
  }
}

.section__title.left:before, .section__title.left:after {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 575px) {
  .section__title {
    font-size: 50px;
  }
}

.love-animation-one {
  position: absolute;
  z-index: 3;
  height: 80px;
}

.love-animation-one svg:first-child {
  -webkit-animation-name: animate-love;
          animation-name: animate-love;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  width: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

.love-animation-one svg:nth-child(2) {
  -webkit-animation-name: animate-love;
          animation-name: animate-love;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  width: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
}

.love-animation-one svg:last-child {
  -webkit-animation-name: animate-love;
          animation-name: animate-love;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  width: 15px;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes animate-love {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate-love {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form-control {
  background: #f6f9fa;
  border: 1px solid #d4d4d4;
  font-family: "Cuprum", sans-serif;
  padding: 20px 30px;
}

.main-nav {
  padding: 25px 30px;
}

@media (max-width: 991px) {
  .main-nav {
    background: #eb5b7c;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .main-nav {
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .main-nav .navbar-nav {
    text-align: center;
  }
}

.main-nav .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  font-family: "Cuprum", sans-serif;
  position: relative;
}

@media (max-width: 991px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    padding: 15px 0;
  }
}

.main-nav .navbar-nav .nav-item .nav-link:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 3px;
  z-index: -1;
  background: #fff;
  left: 21px;
  bottom: 5px;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

@media (max-width: 991px) {
  .main-nav .navbar-nav .nav-item .nav-link:before {
    content: none;
  }
}

.main-nav .navbar-nav .nav-item .nav-link:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.main-nav .navbar-nav .nav-item .nav-link.active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (max-width: 991px) {
  .main-nav .navbar-nav {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .main-nav .navbar-nav {
    display: none;
  }
}

.main-nav .nav-signin {
  margin-left: 20px;
}

@media (max-width: 991px) {
  .main-nav .nav-signin {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .main-nav .nav-signin {
    display: none;
  }
}

.main-nav .navbar-brand {
  margin-right: 0;
  text-align: center;
}

.main-nav .navbar-brand img {
  max-width: 130px;
}

@media (max-width: 575px) {
  .main-nav .navbar-brand img {
    width: 110px;
  }
}

.main-nav .navbar-toggler {
  outline: 0;
  color: #fff;
  cursor: pointer;
}

.main-nav.nav-bg {
  background: #eb5b7c;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
}

@media (max-width: 991px) {
  .main-nav.nav-bg {
    padding: 15px;
  }
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .5s ease-in-out;
}

.headroom--unpinned {
  top: 0 !important;
}

.headroom--pinned {
  top: 0;
}

.nav-offcanvas {
  width: 300px;
  background: linear-gradient(108deg, #ff8e7f 0%, #ff579a 100%);
  height: 100vh;
  position: fixed;
  overflow-x: auto;
  z-index: 2000;
  padding: 50px 0;
  top: 0;
  right: -300px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-offcanvas .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-offcanvas .close::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: #fff;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-offcanvas .close::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: #fff;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-offcanvas .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-offcanvas-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav-offcanvas-menu ul li a {
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
  font-family: "Cuprum", sans-serif;
  font-size: 24px;
}

.nav-offcanvas-menu ul li a i {
  margin-left: 20px;
}

.nav-offcanvas.open {
  right: 0;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1999;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  visibility: hidden;
  opacity: 0;
}

.offcanvas-overlay.on {
  opacity: 1;
  visibility: visible;
}

.hero {
  background: linear-gradient(108deg, #ff8e7f 0%, #ff579a 100%);
  position: relative;
  overflow: hidden;
  padding: 200px 0;
}

@media (max-width: 991px) {
  .hero {
    padding: 150px 0;
  }
}

.hero__shape-bottomleft {
  position: absolute;
  width: 40%;
  bottom: 0;
  left: -10%;
  opacity: .52;
}

.hero__shape-bottomleft img {
  width: 100%;
}

.hero__shape-topright {
  position: absolute;
  width: 40%;
  right: -5%;
  top: -15%;
}

.hero__shape-topright img {
  width: 100%;
}

.hero__shape-love-1 {
  position: absolute;
  width: 75px;
  top: 30%;
  left: 50%;
}

@media (max-width: 1200px) {
  .hero__shape-love-1 {
    top: 22%;
    left: 52%;
  }
}

.hero__shape-love-1 svg {
  width: 100%;
  height: auto;
}

.hero__shape-love-1 svg path {
  fill: #fff;
  opacity: .47;
}

.hero__shape-love-1 svg path.love-small {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@media (max-width: 991px) {
  .hero__shape-love-1 {
    top: 57%;
    left: 15%;
  }
}

@media (max-width: 767px) {
  .hero__shape-love-1 {
    left: 12%;
    top: 60%;
  }
}

@media (max-width: 575px) {
  .hero__shape-love-1 {
    display: none;
  }
}

.hero__shape-love-2 {
  position: absolute;
  width: 75px;
  bottom: 10%;
  left: 5%;
}

.hero__shape-love-2 svg {
  width: 100%;
  height: auto;
}

.hero__shape-love-2 svg path {
  fill: #fff;
  opacity: .47;
}

.hero__shape-love-2 svg path.love-small {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.hero__shape-love-3 {
  position: absolute;
  width: 75px;
  right: 7%;
  top: 10%;
}

.hero__shape-love-3 svg {
  width: 100%;
  height: auto;
}

.hero__shape-love-3 svg path {
  fill: #fff;
  opacity: .47;
}

.hero__shape-love-3 svg path.love-small {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.hero__shape-love-4 {
  position: absolute;
  width: 75px;
  bottom: 3%;
  right: 2%;
}

.hero__shape-love-4 svg {
  width: 100%;
  height: auto;
}

.hero__shape-love-4 svg path {
  fill: #fff;
  opacity: .47;
}

.hero__shape-love-4 svg path.love-small {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.hero__shape-small {
  position: absolute;
  width: 80%;
  top: 5%;
  left: 10%;
}

@media (max-width: 1200px) {
  .hero__shape-small {
    width: 100%;
  }
}

.hero__shape-small img {
  width: 100%;
}

@media (max-width: 991px) {
  .hero__content {
    text-align: center;
    margin-bottom: 100px;
  }
}

.hero__content h1, .hero__content p, .hero__content span {
  color: #fff;
}

.hero__content h1 {
  font-size: 90px;
}

@media (max-width: 575px) {
  .hero__content h1 {
    font-size: 60px;
  }
}

.hero__content p {
  font-size: 17px;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .hero__content p {
    margin-bottom: 40px;
  }
}

.hero__content span {
  display: block;
  font-size: 15px;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .hero__content span {
    margin-left: 0;
  }
}

.hero__content-btn {
  position: relative;
  width: 75%;
}

@media (max-width: 991px) {
  .hero__content-btn {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.hero__content-btn .tips {
  position: absolute;
  background: #fff;
  color: #eb5b7c;
  display: block;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -25px;
  border-radius: 3px;
  transition: .3s ease;
  opacity: .95;
  margin-left: 5px;
}

.hero__content-btn .tips::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #fff transparent;
  top: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 991px) {
  .hero__content-btn .tips {
    left: 50%;
  }
}

.hero__content .btn {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
}

.hero__content .btn i {
  display: inline-block;
  font-size: 30px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  margin-left: 25px;
  background-image: linear-gradient(-53deg, #e9537a 0%, #ff9688 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 575px) {
  .hero__content .btn {
    font-size: 16px;
  }
  .hero__content .btn i {
    font-size: 20px;
    margin-left: 15px;
    -webkit-transform: translateY(1);
            transform: translateY(1);
  }
}

.hero__content .btn:hover i {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
}

.hero__content .btn:hover .tips {
  font-size: 13px;
  bottom: -50px;
}

.hero__image {
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .hero__image {
    text-align: center;
  }
}

.hero__image .middle {
  width: 100%;
  box-shadow: 0px 39px 53px 0px rgba(25, 28, 33, 0.07);
}

@media (max-width: 991px) {
  .hero__image .middle {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .hero__image .middle {
    width: 90%;
  }
}

.hero__image .leftCharacter {
  position: absolute;
  bottom: -15%;
  left: -30%;
  width: 250px;
}

@media (max-width: 991px) {
  .hero__image .leftCharacter {
    left: -5%;
  }
}

@media (max-width: 767px) {
  .hero__image .leftCharacter {
    width: 180px;
    bottom: -10%;
    left: -10%;
  }
}

@media (max-width: 400px) {
  .hero__image .leftCharacter {
    display: none;
  }
}

.hero__image .rightCharacter {
  position: absolute;
  right: -25%;
  bottom: -22%;
  width: 300px;
}

@media (max-width: 991px) {
  .hero__image .rightCharacter {
    right: 0;
    bottom: -10%;
  }
}

@media (max-width: 767px) {
  .hero__image .rightCharacter {
    width: 200px;
    right: -5%;
  }
}

@media (max-width: 575px) {
  .hero__image .rightCharacter {
    right: -10%;
    bottom: -30%;
  }
}

.hero__image .topLike {
  position: absolute;
  top: -50px;
  left: 20px;
  width: 40px;
}

@media (max-width: 991px) {
  .hero__image .topLike {
    left: 20%;
  }
}

@media (max-width: 767px) {
  .hero__image .topLike {
    width: 30px;
  }
}

.hero__image .rightLike {
  position: absolute;
  right: -28%;
  bottom: 21%;
}

@media (max-width: 991px) {
  .hero__image .rightLike {
    right: -5%;
  }
}

@media (max-width: 767px) {
  .hero__image .rightLike {
    width: 50px;
  }
}

@media (max-width: 575px) {
  .hero__image .rightLike {
    right: 0;
  }
}

.hero__image .leftTree {
  position: absolute;
  width: 280px;
  left: -30%;
  top: -20%;
  z-index: -1;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: .3;
}

.hero__image .rightTree {
  position: absolute;
  width: 250px;
  right: -20%;
  top: -15%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
  opacity: .3;
}

.process {
  position: relative;
}

@media (max-width: 1200px) {
  .process {
    overflow: hidden;
  }
}

.process__shape-small, .review__shape-small {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1200px) {
  .process__shape-small, .review__shape-small {
    width: 100%;
  }
}

.process__shape-small svg, .review__shape-small svg {
  width: 100%;
  height: 100%;
}

.process__shape-small svg path, .review__shape-small svg path {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.process__item {
  display: flex;
  box-shadow: #191c211a 0px 85px 98px 0px;
  width: 80%;
  position: relative;
  z-index: 1;
}

.process__item:not(:last-child) {
  margin-bottom: 140px;
}

@media (max-width: 575px) {
  .process__item:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media (max-width: 1200px) {
  .process__item {
    width: 90%;
  }
}

@media (max-width: 991px) {
  .process__item {
    width: 100%;
    flex-wrap: wrap;
  }
}

.process__item .image {
  flex-basis: 48%;
  position: relative;
}

@media (max-width: 991px) {
  .process__item .image {
    flex-basis: 100%;
    height: 400px;
  }
}

@media (max-width: 575px) {
  .process__item .image {
    height: 200px;
  }
}

.process__item .image .bg__shape-one {
  position: absolute;
  width: 90%;
  bottom: 0px;
  right: 2%;
  opacity: .54;
}

@media (max-width: 991px) {
  .process__item .image .bg__shape-one {
    height: 100%;
    width: auto;
    right: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.process__item .image .bg__shape-one img {
  width: 100%;
}

@media (max-width: 991px) {
  .process__item .image .bg__shape-one img {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 575px) {
  .process__item .image .bg__shape-one {
    display: none;
  }
}

.process__item .image .bg__shape-two {
  position: absolute;
  width: 100%;
  top: -40px;
  left: -20px;
  opacity: 0.58;
}

@media (max-width: 991px) {
  .process__item .image .bg__shape-two {
    height: 100%;
    bottom: 0;
    top: unset;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
}

.process__item .image .bg__shape-two img {
  width: 100%;
}

@media (max-width: 991px) {
  .process__item .image .bg__shape-two img {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 575px) {
  .process__item .image .bg__shape-two {
    display: none;
  }
}

.process__item .image .bg__shape-three {
  position: absolute;
  width: 95%;
  opacity: .48;
  bottom: 10%;
  left: 2%;
}

@media (max-width: 991px) {
  .process__item .image .bg__shape-three {
    height: 100%;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
}

.process__item .image .bg__shape-three img {
  width: 100%;
}

@media (max-width: 991px) {
  .process__item .image .bg__shape-three img {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 575px) {
  .process__item .image .bg__shape-three {
    display: none;
  }
}

.process__item .image .shape-love {
  position: absolute;
  width: 100px;
  height: auto;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -140px;
}

@media (max-width: 991px) {
  .process__item .image .shape-love {
    left: 0;
  }
}

.process__item .image .shape-love svg {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.process__item .image .shape-love svg path {
  fill: #ef1d69;
}

.process__item .image .shape-love-2 {
  width: 75px;
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 991px) {
  .process__item .image .shape-love-2 {
    right: 0;
  }
}

.process__item .image .shape-love-2 svg {
  width: 100%;
  height: auto;
}

.process__item .image .shape-love-2 svg path {
  fill: #fff;
}

.process__item .image .illustration__middle-one {
  position: absolute;
  width: 300px;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -53%);
          transform: translate(-70%, -53%);
}

@media (max-width: 991px) {
  .process__item .image .illustration__middle-one {
    -webkit-transform: translate(-60%, -50%);
            transform: translate(-60%, -50%);
    width: 270px;
  }
}

@media (max-width: 575px) {
  .process__item .image .illustration__middle-one {
    width: 150px;
  }
}

.process__item .image .illustration__middle-two {
  position: absolute;
  width: 260px;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .process__item .image .illustration__middle-two {
    width: 220px;
  }
}

@media (max-width: 575px) {
  .process__item .image .illustration__middle-two {
    width: 120px;
  }
}

.process__item .image .illustration__middle-three {
  position: absolute;
  width: 290px;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .process__item .image .illustration__middle-three {
    width: 250px;
  }
}

@media (max-width: 575px) {
  .process__item .image .illustration__middle-three {
    width: 130px;
  }
}

.process__item .image .illustration__right-one {
  position: absolute;
  right: -2%;
  width: 160px;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 991px) {
  .process__item .image .illustration__right-one {
    right: 0;
  }
}

@media (max-width: 575px) {
  .process__item .image .illustration__right-one {
    width: 50px;
    opacity: .7;
  }
}

.process__item .image .illustration__right-two {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 0 8px 0;
}

@media (max-width: 991px) {
  .process__item .image .illustration__right-two {
    border-radius: 0;
  }
}

@media (max-width: 575px) {
  .process__item .image .illustration__right-two {
    width: 40px;
  }
}

.process__item .image .illustration__right-three {
  position: absolute;
  right: -10%;
  bottom: 0;
  width: 140px;
  z-index: 1;
}

@media (max-width: 991px) {
  .process__item .image .illustration__right-three {
    right: 0;
  }
}

@media (max-width: 575px) {
  .process__item .image .illustration__right-three {
    width: 70px;
    opacity: .7;
  }
}

.process__item .image .illustration__left-two {
  position: absolute;
  left: -7%;
  bottom: 0;
  width: 150px;
  z-index: 2;
}

@media (max-width: 991px) {
  .process__item .image .illustration__left-two {
    left: 0;
  }
}

@media (max-width: 575px) {
  .process__item .image .illustration__left-two {
    width: 70px;
    opacity: .7;
  }
}

.process__item .image .illustration__left-three {
  position: absolute;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: 1;
  bottom: 0;
  border-radius: 0 0 8px 0;
}

@media (max-width: 991px) {
  .process__item .image .illustration__left-three {
    border-radius: 0;
  }
}

@media (max-width: 575px) {
  .process__item .image .illustration__left-three {
    width: 50px;
    opacity: .7;
  }
}

.process__item .content {
  flex-basis: 52%;
  background: white;
  padding: 110px 60px;
}

@media (max-width: 991px) {
  .process__item .content {
    flex-basis: 100%;
    padding: 80px 50px;
  }
}

@media (max-width: 575px) {
  .process__item .content {
    padding: 30px;
  }
}

.process__item .content h2 {
  margin-bottom: 50px;
  position: relative;
}

@media (max-width: 767px) {
  .process__item .content h2 {
    margin-bottom: 30px;
  }
}

.process__item .content h2::before {
  content: attr(data-content);
  position: absolute;
  font-size: 90px;
  opacity: 0.07;
  bottom: -10px;
  display: block;
  white-space: nowrap;
}

@media (max-width: 575px) {
  .process__item .content h2::before {
    font-size: 60px;
    line-height: 60px;
    bottom: 0;
  }
}

@media (max-width: 575px) {
  .process__item .content h2 {
    font-size: 45px;
    margin-bottom: 10px;
  }
}

.process__item .content p {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 575px) {
  .process__item .content p {
    font-size: 16px;
  }
}

.process__item:nth-child(odd) .image {
  background: linear-gradient(127deg, #f43d9b 0%, #ff8e7f 100%);
  border-radius: 8px 0px 0px 8px;
}

@media (max-width: 991px) {
  .process__item:nth-child(odd) .image {
    border-radius: 8px 8px 0 0;
  }
}

.process__item:nth-child(odd) .content {
  border-radius: 0px 8px 8px 0px;
}

@media (max-width: 991px) {
  .process__item:nth-child(odd) .content {
    border-radius: 0 0 8px 8px;
  }
}

.process__item:nth-child(even) {
  margin-left: auto;
}

.process__item:nth-child(even) .image {
  order: 2;
  background: linear-gradient(127deg, #3e1bbd 0%, #a061ff 100%);
  border-radius: 0px 8px 8px 0px;
}

@media (max-width: 991px) {
  .process__item:nth-child(even) .image {
    order: unset;
    border-radius: 8px 8px 0 0;
  }
}

.process__item:nth-child(even) .content {
  border-radius: 8px 0px 0px 8px;
}

@media (max-width: 991px) {
  .process__item:nth-child(even) .content {
    border-radius: 0 0 8px 8px;
  }
}

.process__item:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 60%;
  border-width: 1px 1px 1px 0;
  border-style: dashed;
  border-color: #c8c9ca;
  right: -15%;
  z-index: -1;
  bottom: -70px;
}

@media (max-width: 991px) {
  .process__item:nth-child(1)::before {
    content: none;
  }
}

.process__item:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% + 140px);
  border-width: 0 0 0 1px;
  border-style: dashed;
  border-color: #c8c9ca;
  top: -70px;
  z-index: -1;
  left: 40%;
}

@media (max-width: 991px) {
  .process__item:nth-child(2)::before {
    content: none;
  }
}

@media (max-width: 1200px) {
  .process__item:nth-child(2)::before {
    left: 54%;
  }
}

.process__item:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 60%;
  border-width: 1px 1px 1px 0;
  border-style: dashed;
  border-color: #c8c9ca;
  right: -15%;
  z-index: -1;
  top: -70px;
}

@media (max-width: 991px) {
  .process__item:nth-child(3)::before {
    content: none;
  }
}

.feature {
  background-image: url("../images/feature-bg.png");
  background-size: cover;
  background-position: top center;
  padding: 300px 0 100px;
  position: relative;
}

@media (max-width: 991px) {
  .feature {
    background: linear-gradient(127deg, #3e1bbd 0%, #a061ff 100%);
    padding: 100px 0;
  }
}

.feature__shape-small, .footer__shape-small {
  position: absolute;
  width: 80%;
  height: 60%;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1200px) {
  .feature__shape-small, .footer__shape-small {
    width: 100%;
  }
}

.feature__shape-small svg, .footer__shape-small svg {
  width: 100%;
  height: 100%;
}

.feature__item {
  margin-bottom: 85px;
}

.feature__item-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.feature__item-header .icon {
  position: relative;
  width: 67px;
  height: 67px;
  background: linear-gradient(127deg, #f43d9b 0%, #ff8e7f 100%);
  border-radius: 8px;
  margin-right: 20px;
}

.feature__item-header .icon img {
  position: absolute;
  width: 30px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feature__item h4, .feature__item p {
  color: #fff;
}

.feature__item p {
  font-size: 15px;
  line-height: 25px;
}

.review {
  padding: 150px 0 250px;
  position: relative;
}

@media (max-width: 991px) {
  .review {
    padding: 100px 0;
  }
}

@media (max-width: 1200px) {
  .review__shape-small {
    width: 100%;
  }
}

.review__row {
  margin: 0 -15px;
  display: flex;
}

@media (max-width: 991px) {
  .review__row {
    margin: 0 -15px 200px;
  }
}

@media (max-width: 767px) {
  .review__row {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px 50px -15px;
  }
}

.review__col {
  flex-basis: 50%;
  margin: 0 15px;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .review__col {
    flex-basis: 80%;
    margin: 0;
  }
}

.review__col .shape__circle, .review__col .shape-square {
  position: absolute;
  width: 150px;
  z-index: -1;
  top: -75px;
  left: -75px;
}

.review__col .shape__circle {
  display: none;
}

.review__col .shape-square {
  top: unset;
  bottom: 0;
}

.review__col:first-child {
  -webkit-transform: translateY(140px);
          transform: translateY(140px);
}

@media (max-width: 767px) {
  .review__col:first-child {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-bottom: 30px;
  }
}

.review__item {
  text-align: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 70px 70px 0px rgba(25, 28, 33, 0.1);
  padding: 35px 30px;
}

.review__item:not(:last-child) {
  margin-bottom: 30px;
}

.review__item .thumb {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 50px;
  box-shadow: 0px 15px 39px 0px rgba(9, 21, 104, 0.1);
}

.review__item .ratings {
  margin-bottom: 30px;
}

.review__item .ratings svg path {
  fill: #f34498;
}

.review__item h4 {
  font-weight: 600;
  margin-bottom: 15px;
}

.review__item p {
  font-size: 15px;
  line-height: 25px;
}

.review__item.secondary {
  background: linear-gradient(127deg, #3e1bbd 0%, #a061ff 100%);
}

.review__item.secondary h4, .review__item.secondary p {
  color: #fff;
}

.review__item.primary {
  background: linear-gradient(127deg, #f43d9b 0%, #ff8e7f 100%);
}

.review__item.primary h4, .review__item.primary p {
  color: #fff;
}

.review__item.primary svg path {
  fill: #fff;
}

.review__content p {
  font-size: 20px;
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  .review__content p {
    font-size: 16px;
  }
}

.review__shape-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.about {
  padding: 100px 0;
  position: relative;
}

.about__shape-small {
  position: absolute;
  width: 80%;
  height: 30%;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__shape-small svg {
  width: 100%;
  height: auto;
}

.about__shape-circle {
  position: absolute;
  width: 200px;
  right: 15%;
  bottom: -20%;
  z-index: 4;
}

@media (max-width: 991px) {
  .about__shape-circle {
    width: 150px;
    bottom: -7%;
  }
}

.about__image {
  position: relative;
}

@media (max-width: 991px) {
  .about__image {
    margin-top: 100px;
  }
}

.about__image img {
  width: 100%;
}

.about__image .topLike {
  position: absolute;
  width: 40px;
  left: 0;
  top: 0;
}

.about__image .rightLike {
  position: absolute;
  width: 80px;
  top: 30px;
  right: 0;
}

.about__image-love {
  position: absolute;
  width: 75px;
  top: -50px;
  right: 15%;
}

.about__image-love svg {
  width: 100%;
}

.about__image-love svg path {
  fill: #dc396a;
}

.footer {
  padding: 300px 0 0;
  background: linear-gradient(127deg, #ff8e7f 0%, #f43d9b 100%);
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .footer {
    padding: 100px 0 0;
  }
}

.footer__shape-small {
  z-index: 2;
}

.footer__shape-love-1 {
  position: absolute;
  width: 75px;
  bottom: 10%;
  left: 5%;
}

.footer__shape-love-1 svg {
  width: 100%;
  height: auto;
}

.footer__shape-love-1 svg path {
  fill: #fff;
  opacity: .47;
}

.footer__shape-love-1 svg path.love-small {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.footer__shape-love-2 {
  position: absolute;
  width: 75px;
  top: 20%;
  left: 20%;
}

.footer__shape-love-2 svg {
  width: 100%;
  height: auto;
}

.footer__shape-love-2 svg path {
  fill: #fff;
  opacity: .47;
}

.footer__shape-love-2 svg path.love-small {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.footer__shape-love-3 {
  position: absolute;
  width: 75px;
  bottom: 10%;
  right: 5%;
}

.footer__shape-love-3 svg {
  width: 100%;
  height: auto;
}

.footer__shape-love-3 svg path {
  fill: #fff;
  opacity: .47;
}

.footer__shape-love-3 svg path.love-small {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.footer__shape-love-4 {
  position: absolute;
  width: 75px;
  top: 40%;
  right: 30%;
}

.footer__shape-love-4 svg {
  width: 100%;
  height: auto;
}

.footer__shape-love-4 svg path {
  fill: #fff;
  opacity: .47;
}

.footer__shape-love-4 svg path.love-small {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.footer__shape-bg {
  position: absolute;
  width: 100%;
  top: -1px;
  z-index: 3;
}

.footer__shape-bg img {
  width: 100%;
}

@media (max-width: 575px) {
  .footer__shape-bg {
    top: -2px;
  }
}

.footer__shape-bottomleft {
  position: absolute;
  left: -2%;
  bottom: -20%;
  width: 45%;
}

.footer__shape-bottomleft img {
  width: 100%;
}

.footer__shape-bottomright {
  position: absolute;
  right: -7%;
  bottom: -10%;
  width: 40%;
}

.footer__shape-bottomright img {
  width: 100%;
}

.footer__content {
  position: relative;
  z-index: 3;
  margin-bottom: 100px;
}

.footer__content .section__title {
  margin-bottom: 40px;
}

.footer__content .section__title::after {
  content: none;
}

@media (max-width: 400px) {
  .footer__content .section__title {
    font-size: 40px;
  }
}

.footer__content p {
  width: 70%;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 80px;
}

.footer__content .btn-white {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer__content .btn-white i {
  display: inline-block;
  font-size: 30px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  margin-left: 25px;
  background-image: linear-gradient(-53deg, #e9537a 0%, #ff9688 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 575px) {
  .footer__content .btn-white {
    font-size: 14px;
  }
  .footer__content .btn-white i {
    font-size: 20px;
    margin-left: 10px;
  }
}

.footer__content .btn-white:hover i {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
}

.footer__bottom {
  padding: 20px 0 15px;
  border-top: 1px solid #fc9db0;
}

.footer__bottom .copyright {
  color: #fff;
  margin-bottom: 0;
  font-size: 17px;
  font-family: "Cuprum", sans-serif;
}

@media (max-width: 991px) {
  .footer__bottom .copyright {
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer__bottom .footer__list {
  margin-bottom: 0;
  text-align: right;
}

@media (max-width: 991px) {
  .footer__bottom .footer__list {
    text-align: center;
  }
}

.footer__bottom .footer__list li.list-inline-item:not(:last-child) {
  margin-right: 15px;
}

.footer__bottom .footer__list li.list-inline-item a {
  color: #fff;
  font-size: 17px;
  font-family: "Cuprum", sans-serif;
}

.login {
  background: linear-gradient(108deg, #ff8e7f 0%, #ff579a 100%);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 991px) {
  .login {
    height: auto;
  }
}

.login__shape-bottomleft {
  position: absolute;
  width: 40%;
  bottom: 0;
  left: -10%;
  opacity: .52;
}

.login__shape-bottomleft img {
  width: 100%;
}

.login__shape-topright {
  position: absolute;
  width: 40%;
  right: -5%;
  top: -15%;
}

.login__shape-topright img {
  width: 100%;
}

.login__shape-small {
  position: absolute;
  width: 80%;
  top: 5%;
  left: 10%;
}

@media (max-width: 1200px) {
  .login__shape-small {
    width: 100%;
  }
}

.login__shape-small img {
  width: 100%;
}

.login__card {
  background: #fff;
  box-shadow: 0px 45px 60px 0px rgba(25, 28, 33, 0.15);
  text-align: center;
  border-radius: 4px;
  padding: 50px;
}

@media (max-width: 575px) {
  .login__card {
    padding: 50px 30px;
  }
}

@media (max-width: 400px) {
  .login__card {
    padding: 30px 20px;
    margin-top: 25px;
  }
}

.login__card-wrapper {
  position: relative;
  z-index: 1;
}

.login__card-shapeLeft {
  position: absolute;
  z-index: -1;
  left: -45%;
  bottom: 0;
}

@media (max-width: 767px) {
  .login__card-shapeLeft {
    left: -28%;
    width: 250px;
  }
}

@media (max-width: 575px) {
  .login__card-shapeLeft {
    display: none;
  }
}

.login__card-shapeRight {
  position: absolute;
  z-index: -1;
  right: -33%;
  bottom: 0;
}

@media (max-width: 767px) {
  .login__card-shapeRight {
    width: 180px;
    right: -20%;
  }
}

@media (max-width: 575px) {
  .login__card-shapeRight {
    display: none;
  }
}

.login__card .logo {
  width: 200px;
  margin-bottom: 30px;
}

@media (max-width: 400px) {
  .login__card .logo {
    margin-bottom: 10px;
  }
}

.login__card .title {
  color: #898989;
  margin-bottom: 30px;
}

.login__card .title span {
  font-family: "Cuprum", sans-serif;
  color: #431fc1;
}

.login__form-field {
  position: relative;
}

.login__form-field span {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #898989;
  cursor: pointer;
}

.login__form-submit {
  border: none;
}

.login__form-submit i {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  margin-left: 10px;
  font-size: 24px;
}

.login__form input {
  margin-bottom: 20px;
  border-radius: 50px;
}

@media (max-width: 400px) {
  .login__form input {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
